html body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  animation:
    3s move infinite ease-in-out alternate,
    3s zoom infinite ease-in-out alternate;
}

@keyframes zoom {
  to {
    transform: scale(5);
  }
}

body::before {
  content: '';
  position: fixed;
  width: 200vmax;
  height: 200vmax;
  background-color: steelblue;
  color: turquoise;
  top: 50%;
  left: 50%;
  background-image: linear-gradient(
    45deg,
    currentColor 25%,
    transparent 25%, transparent 75%,
    currentColor 75%),
linear-gradient(
    45deg,
    currentColor 25%,
    transparent 25%, transparent 75%,
    currentColor 75%);
  background-size: 10vmax 10vmax;
  background-position: 0 0, 5vmax 5vmax;
  animation: 9s moving infinite ease-in-out alternate,
  9s -1.5s rotating infinite ease-in-out alternate;
}

@keyframes moving {
  from {
    left: -40%;
    top: -40%;
  }
  to {
    left: -60%;
    top: -60%;
  }
}

@keyframes rotating {
  to {
    transform: rotate(180deg);
    filter: hue-rotate(1turn);
  }
}
