html body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: darkcyan;
}

h1 {
  color: gold;
  text-align: center;
  position: relative;
}

h1::after {
  content: '?';
  position: absolute;
  left: 0;
  top: -0.35em;
  font-size: 25em;
  color: cyan;
  z-index: -1;
  filter: opacity(0.3);
  transform: rotate(15deg);
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

p {
  width: 400px;
	height: 2.5em;
	color: gold;
	font-size: 24px;
	border: 2px solid gold;
	line-height: 2.5em;
	text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

p span {
  position: absolute;
  width: 100%;
	top: 0;
  left: 0;
  transition: 0.5s ease-out;
  cursor: pointer;
}

p .question {
	left: 0;
}

p .answer {
  color: whitesmoke;
	font-size: 1.1em;
	background: rgba(0, 0, 0, 0.1);
	left: -100%;
}

p:hover .question {
  left: 100%;
}
p:hover .answer {
  left: 0;
}
