html body, .bows {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

.radinbow {
  width: 20em;
  height: 10em;
  overflow: hidden;
}

.bows {
  width: 100%;
  height: 200%;
  position: relative;
  transform: rotate(45deg);
}

span {
  position: absolute;
  width: calc(100% - 2em * (var(--n) - 1));
  height: calc(100% - 2em * (var(--n) - 1));
  border: 1em solid var(--color);
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotating 3s infinite;
  animation-delay: calc(0.05s * var(--n));
}

@keyframes rotating {
  to {
    transform: rotate(1turn);
  }
}

span:nth-of-type(1) {
  --n: 1;
  --color: orangered;
}
span:nth-of-type(2) {
  --n: 2;
  --color: orange;
}
span:nth-of-type(3) {
  --n: 3;
  --color: yellow;
}
span:nth-of-type(4) {
  --n: 4;
  --color: mediumspringgreen;
}
span:nth-of-type(5) {
  --n: 5;
  --color: deepskyblue;
}
span:nth-of-type(6) {
  --n: 6;
  --color: mediumpurple;
}
