html body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: bisque;
}

.box {
    display: flex;
}

.inner {
    width: 490px;
    height: 210px;
    overflow: hidden;
    font-size: 70px;
    line-height: 210px;
    font-weight: bold;
    white-space: nowrap;
}

.inner:first-child {
    background-color: indianred;
    color: darkred;
    transform-origin: right;
	transform: perspective(1.5em) rotateY(-15deg);
}

.inner:last-child {
    background-color: lightcoral;
    color: antiquewhite;
    transform-origin: left;
	transform: perspective(1.5em) rotateY(15deg);
}

.inner span {
    position: absolute;
    animation: marquee 5s linear infinite;
}
.inner:first-child span {
    left: -100%;
    animation-delay: 2.5s;
}

@keyframes marquee {
    0% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}
