html body, .circle{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(brown, sandybrown);
}

.text {
    font-size: 5em;
    color: transparent;
    font-family: "arial black";
    position: relative;
    cursor: pointer;
}

.text::before, .text::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    color: lightyellow;
}

.text::before {
    clip-path: polygon(0 0, 60% 0, 30% 100%, 0 100%);
}

.text::after {
    clip-path: polygon(60% 0, 30% 100%, 100% 100%, 100% 0);
}

.text:hover::before {
    left: -0.15em;
    top: -0.05em;
    transform: rotate(-5deg);
}

.text:hover::after {
    left: 0.15em;
    top: 0.05em;
    transform: rotate(5deg);
}
